#dp {
    height: 100px;
}

#nome_title {
    color: gray;
}

.nome {
font-family: arial;
font-size: 26px;
}

#document {
position: relative;
top: 100px;
left: 100px;
}

#details
{
position: absolute;
left: 600px;
top: 100px;
width:400px;
}

body
{
font-family:sans-serif;
min-width:1000px;
}

#nav ul li a
{
	text-decoration:none;
	color:rgb(10,10,10);
}

#nav ul li a:hover
{
	text-decoration:underline;
}

a
{
	text-decoration:none;
	color:blue;
}
a:hover
{
	text-decoration:underline;
}
pre
{
background: #f3f3f7;
border: 1px solid #dedee3;
padding: 11px;
}

.answer
{
	display:none;
}	
